.tp-1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 130%;
  letter-spacing: -1px;
}
.tp-2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.tp-3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.tp-4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.tp-5 {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.tp-6 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.tp-7 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: -0.2px;
}

.tp-7-semi {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: -0.2px;
}
.tp-8 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
  letter-spacing: -0.2px;
}

.tp-8-ital {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
  letter-spacing: -0.2px;
  font-style: italic;
}

.tp-9 {
  font-family: "Fira Code", monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 146%;
  letter-spacing: -0.4px;
}


