// colours
$neutral900: #1c1a19;
$neutral800: #201e1d;
$neutral700: #34302d;
$neutral600: #4a4846;
$neutral400: #c0bfbf;
$neutral300: #dedcda;
$neutral200: #efedeb;
$neutral100: #fbf9f7;

$blue200: #e1f1fe;
$blue500: #93cefc;
$blue700: #75b0de;
$blue800: #5792c0;
$blue900: #022b4a;

$green200: #e9f5ea;
$green500: #9dd3a9;
$green700: #008531;
$green900: #132a18;

$yellow200: #fff5e1;
$yellow500: #facc79;
$yellow700: #ea9806;
$yellow900: #4a3003;

$red400: #f0443b;
$red600: #d92d20;

// spacing: 
$spacing2: 0.125rem;
$spacing4: 0.25rem;
$spacing6: 0.375rem;
$spacing8: 0.5rem;
$spacing12: 0.75rem;
$spacing16: 1rem;
$spacing20: 1.25rem;
$spacing24: 1.5rem;
$spacing32: 2rem;
$spacing40: 2.5rem;
$spacing48: 3rem;
$spacing64: 4rem;
$spacing80: 5rem;

// border radius:
$radius4: 0.25rem;
$radius6: 0.375rem;
$radius8: 0.5rem;
$radius10: 0.625rem;
$radius12: 0.375rem;
$radius16: 1rem;
$radius20: 1.25rem;
$radius24: 1.5rem;
$radiusFull: 999px;

// breakpoints
$tablet: 600px;
$desktop: 1200px;
$lgDesktop: 1800px;
