@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/typography" as *;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text {
    @extend .tp-8;
    color: var(--blurb-txt);
  }
  &__socials {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    
    &-link {
      img {
        height: 1.125rem;
      }
    }
  }
}